<!-- https://raw.githubusercontent.com/pages-themes/minimal/master/_layouts/default.html -->

<!DOCTYPE html>
<html lang="zh">
	
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% seo %}
	<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
	{% include head-custom.html %}
	<link rel="shortcut icon" type="image/x-icon" href="https://mirror.ghproxy.com//https://raw.githubusercontent.com/iHuer/iHuer.github.io/main/icon.png">
</head>
	
<body background="https://mirror.ghproxy.com/https://raw.githubusercontent.com/iHuer/iHuer.github.io/main/background.png">
	<div class="wrapper">

		<header>
			<h2><a href="https://iHuer.GitHub.io">🌐iHuer Official Website</a></h2>
			<h4>Musician／Photographer／Designer</h4>
			<h5>
				📚Works<br>
					<a href="https://YouTube.com/@iHuer">YouTube</a>／<a href="https://space.bilibili.com/501080698">bilibili</a>／<a href="https://music.163.com/artist/48046237">网易云</a>／<a href="https://y.QQ.com/n/ryqq/singer/000NV5SA4bbWlR">QQ Music</a>／<a href="https://www.nicovideo.jp/user/124695300">niconico</a>
				<br><br>
				💬SNS<br>
					<a href="https://Twitter.com/iHuer52">Twitter</a>／<a href="https://Weibo.com/iHuer">Weibo</a>／<a href="https://piapro.jp/iHuer52">piapro</a>
			</h5>
		</header>

		<section>
		{{ content }}
		</section>

		<footer>
	<p><small><a href="https://GitHub.com/iHuer/iHuer.GitHub.io">Site source</a> host on <a href="https://Pages.GitHub.com">GitHub Pages</a><br>
	Theme by <a href="https://GitHub.com/orderedlist">orderedlist</a></small></p>
		</footer>

	<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

	</div>
</body>

</html>